{% include "@ResuminManager/Partials/_header.html.twig" %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <p>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}: {{ user.username }}</p>
        <p>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: {{ user.email }}</p>
        <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-primary pull-right">Edit profile</a>
    </div>
</div>
